.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  overflow: auto;
}

img {
  margin: 0;
  padding: 0;
  display: block;
}

h1 {
  margin: 0;
  padding: 5;
  display: block;
  align-items: center;
}

.modal {
  display: in-line block;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(189, 189, 189, 0.4); 
  padding: 20px
}

.modal-content {
  background-color: #746565;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  height: auto;
  overflow: scroll;
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.cell {
  padding: 10px;
}

.button {
  padding-top: 15px;
}