.card {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0px 10px 8px #999;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    background-color: #e0ddd4;
    overflow: auto;
    padding: 10px;
}

.card-title {
    /* vert-height order */
    margin: 5px 0%;
}

.card-desc {
    margin: 5px 0%;
}

.bolded {
    font-weight: bold;
}

.button {
    padding-top: 10px;
    
}